body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.dark-blue-box {
    background-color: #1E1362;
    color: white;
    border-radius: 10px;
    position: relative;
    padding: 20px;
}

.back-button img {
    width: 30px;
    height: 30px;
}

.event-title {
    font-size: 24px;
    font-weight: bold;
}

.event-subtitle {
    font-size: 16px;
}

.coupon-label {
    font-size: 18px;
    margin-bottom: 10px;
}

.badge {
    margin-right: 10px;
    font-size: 14px;
    background-color: #E1058C;
}

.event-details {
    font-size: 18px;
    margin: 20px 0;
}

.event-description {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.event-description-text {
    font-size: 16px;
}

.text-container{
    color: white;
}
.button-container {
    display: flex;
    gap: 1rem; /* Adds space between the buttons */
    justify-content: center;
    
}

.btn-display{
    background-color: #E1058C;

    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-add{
    background-color: #34C3E0;

    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}


